$orangeColor: #f60;
$greyColor: #f3f3f3;
$whiteColor: #ffffff;
$brandColor: #313131;
$brandIconColor: #5CC4AA;
$splitLineColor: #DEDEDE;
$defaultMenuColor: #666666;
$menuGroupTitleFontColor: #B5B5B5;
$selectedMenuBkColor: #58C0AA;
$selectedFontColor: $whiteColor;
$hoverMenuBkColor: #E9E9E9;
$menuBkColor: $greyColor;
$contentPageBkColor: #FAFAFA;
$bottomBkCollor: $greyColor; 