$orangeColor: #f60;
$greyColor: #f3f3f3;
$whiteColor: #ffffff;
$bandColor: #313131;
$splitLineColor: #DEDEDE;
$defaultMenuColor: #666666;
$selectedMenuBkColor: #58C0AA;
$selectedFontColor: $whiteColor;
$menuBkColor: $greyColor;
$contentPageBkColor: #FAFAFA;
$bottomBkCollor: $greyColor; 